.results-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.results-page .title {
    margin: 10px;
}

.results-page mdc-data-table {
    margin: 10px;
    width: 60%;
    max-width: 600px;
}

.results-page table {
    width: 100%;
    text-align: center;
}

.results-page th, .results-page td {
    padding: 10px;
    text-align: center;
}