<template>
    <div class="message-students">
        <h2>Message Students</h2>
        <mdc-select label="Choose a course" class="full-width">
            <mdc-list>
                <mdc-list-item repeat.for="course of courses" value.bind="course">${course}</mdc-list-item>
            </mdc-list>
        </mdc-select>
        <div class="full-width">
            <mdc-text-field label="Subject" maxlength="100" class="full-width"></mdc-text-field>
            <mdc-text-field-helper-line>
                <mdc-text-field-helper-text validation>Subject is required</mdc-text-field-helper-text>
                <mdc-text-field-character-counter></mdc-text-field-character-counter>
            </mdc-text-field-helper-line>
        </div>
        <div class="full-width">
            <mdc-text-field textarea ref="message" label="Message" rows="8" cols="40" maxlength="1000" class="full-width"></mdc-text-field>
            <mdc-text-field-helper-line>
                <mdc-text-field-helper-text validation>Message body is required</mdc-text-field-helper-text>
                <mdc-text-field-character-counter></mdc-text-field-character-counter>
            </mdc-text-field-helper-line>
        </div>
        <div id="buttons">
            <mdc-button raised primary>Send</mdc-button>
        </div>
    </div>
</template>