<template>
    <div class="view-courses">
        <mdc-data-table">
            <table>
                <thead>
                    <tr>
                        <th>Faculty</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Semester</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr mdc-data-table-row repeat.for="course of courses">
                        <td>${course.faculty}</td>
                        <td>${course.code}</td>
                        <td>${course.name}</td>
                        <td>${course.semester}</td>
                        <td>
                            <div>
                                <button mdc-button>Edit</button>
                                <button load="/grade/some-course-id" mdc-button>Grade</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </mdc-data-table> 
    </div>
</template>