<template>
    <h1>Dashboard</h1>

    <mdc-card>
        <mdc-card-primary-action>
            <a href="/my-faculty" style="text-decoration: none;">
                <div>
                    <h2 mdc-headline6>My Faculty</h2>
                </div>
                <div mdc-body2>
                    View and manage your faculties.
                </div>
            </a>
        </mdc-card-primary-action>
    </mdc-card>

    <mdc-card>
        <mdc-card-primary-action>
            <a href="/my-courses" style="text-decoration: none;">
                <div>
                    <h2 mdc-headline6>My Courses</h2>
                </div>
                <div mdc-body2>
                    View and register your courses.
                </div>
            </a>
        </mdc-card-primary-action>
    </mdc-card>
</template>
