<template>
    <form class="login">
        <h1>Login</h1>

        <div>
            <mdc-text-field type="text" label="Username" value.bind="username"></mdc-text-field>
        </div>

        <div>
            <mdc-text-field type="password" label="Password" value.bind="password"></mdc-text-field>
        </div>

        <div>
            <button mdc-button raised type="button" click.trigger="login()">Login</button>
        </div>

        <p mdc- >There are three different usernames: "student", "teacher", and "administrator". And all three use "password" as password.</p>
    </form>
</template>