<template>
    <div class="messages-page">
        <div class="title" mdc-headline4>Messages</div>
        <div class="tab-pane active" id="inbox">
            <ul>
                <li repeat.for="message of messages">
                    <div mdc-headline6>${message.title}</div>
                    <p>${message.content}</p>
                    <mdc-chip icon="person">${message.sender}</mdc-chip>
                </li>
            </ul>
        </div>

        <!-- Pagination -->
        <div>
            <button mdc-icon-button icon="keyboard_arrow_left"></button>
            <button mdc-icon-button icon="keyboard_arrow_right"></button>
        </div>
    </div>
</template>
