.message-students {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.message-students .title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.full-width {
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
}

.message-students #buttons {
    margin-top: 5px;
}