.view-courses {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.view-courses .title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.view-courses th {
    text-align: center;
}