<template>
    <div class="my-courses">
        <div mdc-headline4 class="title">My Courses</div>
        <div mdc-headline6 class="title">Active</div>
        <mdc-data-table>
            <table>
                <thead>
                <tr>
                    <th>Code</th>
                    <th numeric>Credits</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr mdc-data-table-row repeat.for="course of active_courses">
                    <td>${course.code}</td>
                    <td numeric>${course.credits}</td>
                    <td>${course.name}</td>
                    <td>
                        <button mdc-button outlined click.trigger="removeCourse(course)">-</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </mdc-data-table>

        <div mdc-headline6 class="title">Available</div>
        <mdc-data-table>
            <table>
                <thead>
                <tr>
                    <th>Code</th>
                    <th numeric>Credits</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr mdc-data-table-row repeat.for="course of available_courses">
                    <td>${course.code}</td>
                    <td numeric>${course.credits}</td>
                    <td>${course.name}</td>
                    <td>
                        <button mdc-button outlined click.trigger="addCourse(course)">+</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </mdc-data-table>

        <div>
            <button mdc-button raised click.trigger="saveChanges()">Save</button>
            <button mdc-button outlined click.trigger="discardChanges()">Discard</button>
        </div>
    </div>
</template>
