<template>
    <div class="my-faculty">
        <div mdc-headline4 class="title">My Faculty</div>

        <div class="faculty-container">
            <label>Main:</label>
            <span>${mainFaculty}</span>
        </div>

        <div class="faculty-container">
            <label>Secondary:</label>
            <span>${secondaryFaculty}</span>
        </div>

        <div class="change-faculty">
            <p>You cannot currently apply for changes.</p>
            <button mdc-button raised disabled>Change Faculty</button>
        </div>
    </div>
</template>
