@use "./styles/mdc";
@use "./styles/navigation.scss";
@use "./styles/notifications.scss";
@use "./styles/login.scss";
@use "./styles/dashboard.scss";
@use "./styles/student/my-courses.scss";
@use "./styles/student/my-faculty.scss";
@use "./styles/teacher/grade.scss";
@use "./styles/teacher/view-courses.scss";
@use "./styles/teacher/message-students.scss";
@use "./styles/student/results.scss";
@use "./styles/messages.scss";
@use "./styles/administrator/register.scss";
@use "./styles/administrator/rooms.scss";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}